<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rise Of The Phoenix Queen Campaign Setting</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/primary_style.css">
    <header>
      <h1>Rise Of The Phoenix Queen Wiki</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/characters/character_hub.html">Characters</a></li>
        <li><a href="{{site.baseurl}}/locations/location_hub.html">Locations</a></li>
        <li><a href="{{site.baseurl}}/lore/lore_hub.html">Lore</a></li>
        <li><a href="{{site.baseurl}}/adventures/previous_adventures.html">Previous Adventures</a></li>
      </ul>
    </nav>
  </head>
</html>
